body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(13, 11, 11);
}
h1{
    color:rgb(0, 255, 115);
    }
h2{
    color: aqua;
}
header h2{ 
    color: blue;
}
main{
    font-family: 'Roboto', sans-serif;
}
article{
color: blueviolet;

}
.cajaRoja{
    background-color: rgb(255, 0, 72);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap');
.lista{
    list-style-type: circle;
}
nav{
    background-color: bisque;
}
.normal{
    font-style: normal;
    font-weight: 100;
}
.cursiva{
font-style: italic;
font-weight: bold;
}
.textoGrande{
    font-size: 40;
}
